[DEFAULT]
MONGODB_URL=address
POOL_API=address

EOS_CREATOR=creator account
EOS_RPC=http://api.kylin.alohaeos.com

MONGODB_USER=username
MONGODB_PASS=password

DB=dbname
COLLECTION=collection name

TIMEOUT=5